
<div class="dashboard-grid">
    <div class="teacher-box">
      <h1>My profile</h1>
      <h4>Hamilton</h4>

      <img class="img" src="https://www.amore.ng/wp-content/uploads/2017/12/Lewis-Hamilton-Formula-1.jpg" alt="hamilton">

    </div>

    <div class="student-list">
      <h3>List of the students</h3>
        <ul>
          <li>student 1</li>
          <li>student 2</li>
          <li>student 3</li>
          <li>student 4</li>
          <li>student 5</li>
          <li>student 6</li>

        </ul>

    </div>

    <div class="new-student-list">
       <h3>List of new/pending students</h3>
       <ul>
          <li>student 1</li>
          <li>student 2</li>
          <li>student 3</li>
        </ul>

    </div>


</div>
