
#availabilities-calendar .fc-today {
  background-color:inherit !important;
}

// Calendar header divs
#availabilities-calendar > div > div > table > thead > tr > td > div > table > thead > tr > th.fc-day-header.fc-widget-header {
  padding: 20px 0px;
}

.cal {
  margin: 10px;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.10);
}

.my-workweek-header {
  padding-left: 55px;
}

.my-workweek-instructions {
  padding-left: 55px;
}
