// Grid container
.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 277px 1fr;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: calc(100vh - 70px);
}

// Monthly calendar styling
#monthly-calendar {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.10);
}

// Using a selector hadrian showed us directly from chrome
#monthly-calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div{
  min-height: unset !important;
  height: 1.8em !important;
}

#monthly-calendar .fc-left {
  h2 {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

#monthly-calendar span {
  font-size: 14px;
}

#monthly-calendar .fc-button-group {
  padding-top: 10px;
  padding-right: 10px;
}

.user-information {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.10);
}

// Booking calendar styling
#bookings-calendar {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

#bookings-calendar h2 {
  margin-left: 57px;
}


// Bookings calender header div
#bookings-calendar > div.fc-view-container > div > table > thead > tr > td > div > table > thead > tr > th.fc-day-header.fc-widget-header {
  padding: 20px;
}
