.dashboard-grid {
  display: grid;
  grid-template-row: 200px 1fr 1fr 1fr;
  grid-template-columns: 400px 1fr 1fr;
  margin-top: 20px;
  height: 600px;

}

  .teacher-box {
    height: 83%;
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.10);
  }

  .student-list {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    margin: 20px;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.10);

  }

  .new-student-list {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.10);
  }

  .avatar {
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  .extra-field {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.10);
    margin: 20px;
    text-align: center;
    height: 200px;
  }

  #money {
    color: $green;
  }

  #description {
    opacity: 0.6;
  }

  .my-students {
    grid-row: 4 / span 3 ;
    grid-column: 1 / span 3;

    margin: 10px 20px 20px 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.10);
  }

  #sudents-list {
    background-color: #F4F4F4;
    margin: 5px;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      margin-bottom: 0px;
      padding: 10px 0px;

    }

  }

  #sudents-list i {
    padding-right: 10px;
  }

 #money-dkk {
    color: $green;
  }

  .student-name {
    text-align: left;
    width: 250px;
  }

  .student-phone-number {
    text-align: left;
    width: 250px;
  }

  .student-email{
    text-align: left;
    width: 250px;
  }
