// Headers with lines on the sides
.content-header {
  margin-top: 80px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 40px;

  span {
    position:relative;
    display: inline-block;
  }

  span:before, span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid $granite;
    width: 592px;
    margin: 0 20px;
  }

  span:before{
    right: 100%;
  }

  span:after{
    left: 100%;
  }
}

.content-header-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-header-container {
  width: 1200px;
}

// Review section
.review-avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-right: 20px;
}

.review-grid {
  display: grid;
  padding: 0px 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-column-gap: 20px;
}

.review-item {
  display: flex;
  word-wrap: break-word;
  font-size: 16px;
}

.review-name {
  font-style: italic;
  font-size: 14px;
}


// Register section
.register-container {
  h2 {
    padding-bottom: 5px;
  }

  p {
    margin-bottom: 40px;
  }
}

.form-personal-tour {
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;

  input {
    height: 60px;
  }
}

#form-button-home {
  margin-top: 20px;
}

// Map section
.find-schools-map {
  background-color: $light-gray;
  padding-bottom: 40px;
  padding-top: 40px;


  h2 {
    margin-top: 0px;
  }
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
