
<div class="banner-home" style="background-image: url(<%= image_path "background.jpg" %>);">

  <h1>Header</h1>

  <div class="button-banner">
    <h3> Button 1 </h3>
  </div>

</div>

<div class="btn btn-primary">CLICK</div>
