
<div class="banner-home" style="background-image: url(<%= image_path "background.jpg" %>);">
  <h1>Kobler</h1>
  <div class="btn btn-primary btn-lg">Login as Student </div>
  <div class="btn btn-primary btn-lg">Login as Instructor</div>

</div>

