.banner-home {
  height: 540px !important;
  background-size: cover !important;
  text-align: center;

  h1 {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #last-header {
    padding-bottom: 155px;
  }

  #first-header {
    padding-top: 125px;
  }
}



