.banner-home {
  height: 60vh !important;
  background-size: cover !important;
  text-align: center;
  // opacity: 0.2;
}

.banner-home h1 {
  margin: 0px;
  padding-top: 100px;
  opacity: 1 !important;
}

