.banner-home {
  height: 540px !important;
  background-size: cover !important;
  text-align: center;

  h1 {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
  }


  #first-header {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  align-items: center;
  justify-content: center;

}

// .banner-home h1 {
//   margin: 10px;
//   padding-top: 250px;
//   opacity: 1 !important;
// }

.banner-home h1 {
  margin: 10px;
  padding-top: 250px;
  opacity: 1 !important;
}

#mac-for_background {
  height: 300px;
  margin-top: 40px;
}
