<h2 class="my-workweek-header">My Workweek</h2>
<p class="my-workweek-instructions">Here you can organize your workweek and set the available time slots your students can book a driving lesson.</p>
<div id="availabilities-calendar"></div>
